footer{
    height: 140px;
    width: 100%;
    background-color: #545454; 
    color: #fff;
    text-align: center;
    p{
        font-size: 1.5rem;
        padding: 1rem;
    }
    i{
        font-size: 1.5rem;
    }
}
