footer{
    height: 150px;
    width: 100%;
    background-color: #364552; 
    color: #fff;
    text-align: center;
    p{
        font-size: 1.3rem;
        padding: 1rem;
    }
    i{
        font-size: 2rem;
    }
}
