html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/* nav */
.backg {
  background-color: #ffffff;
}

.navbar-brand img {
  width: 6%;
}

.nav-item {
  padding: 1rem;
}

.nav-item a {
  text-decoration: none;
  font-size: 1rem;
  color: #444444;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-transform: uppercase;
}

.nav-item a:hover {
  -webkit-transition: all .4s;
  transition: all .4s;
  text-shadow: 4px 4px 10px #000;
  color: #05F2DB;
}

/* seccion */
.space {
  width: 100%;
  height: 100px;
  background-color: #0f101f;
}

.sobremi {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.932);
}

.sobremi h2 {
  color: #888888;
  padding: 1.6rem;
}

.bgimg {
  background-image: url(img/bgimg.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0px 30px 5px #8a8787;
          box-shadow: 0 0px 30px 5px #8a8787;
}

.bgimg h1 {
  font-size: 2.3rem;
  color: #50509b;
  padding: 0 1rem;
  -webkit-animation: despY 1s ease forwards;
          animation: despY 1s ease forwards;
}

.bgimg h1 span {
  color: #2f2fa3;
}

@-webkit-keyframes despY {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(230px);
            transform: translateY(230px);
  }
}

@keyframes despY {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(230px);
            transform: translateY(230px);
  }
}

.bgimg p {
  font-size: 1.3rem;
  width: 500px;
  position: relative;
  top: 230px;
  -webkit-animation: despX 1.5s .5s ease forwards;
          animation: despX 1.5s .5s ease forwards;
  opacity: 0;
}

@-webkit-keyframes despX {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 1;
  }
}

@keyframes despX {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 1;
  }
}

footer {
  height: 140px;
  width: 100%;
  background-color: #545454;
  color: #fff;
  text-align: center;
}

footer p {
  font-size: 1.5rem;
  padding: 1rem;
}

footer i {
  font-size: 1.5rem;
}

/* quien soy html */
/* seccion */
.grid {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0 0px 30px -5px #8a8787;
          box-shadow: 0 0px 30px -5px #8a8787;
  border-bottom: solid .7px #d4cece;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
}

.grid__text {
  grid-row: 2/-2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  -webkit-animation: show 2s 1.3s ease forwards;
          animation: show 2s 1.3s ease forwards;
}

@-webkit-keyframes show {
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes show {
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.grid::before {
  content: "";
  grid-column: 4/-1;
  grid-row: 1/-1;
  background-image: url(img/doctor.png);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-animation: show 2s ease forwards;
          animation: show 2s ease forwards;
}

.grid__title {
  font-size: 5rem;
  color: #05F2DB;
}

.seccion-est {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DADDE2;
  -webkit-box-shadow: 0 0 30px -10px #494646;
          box-shadow: 0 0 30px -10px #494646;
}

.seccion-est .seccion-est__cron {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 1rem;
  border: 1px solid #A3A6AB;
}

.seccion-est .seccion-est__cron h3 {
  padding: 1rem;
}

.seccion-est .seccion-est__cron p {
  padding: .7rem;
}

/* servicios html */
/* seccion */
.seccionS {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px -5px #8a8787;
          box-shadow: 0 0 30px -5px #8a8787;
}

.seccionS__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 0.5px #dddddd;
}

.seccionS__image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.seccionS__image p {
  padding: 1rem;
  text-align: justify;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* contacto html */
/* formulario */
.formConteiner {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px -5px #8a8787;
          box-shadow: 0 0 30px -5px #8a8787;
}

.formConteiner .form {
  width: 400px;
  padding: 30px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.formConteiner .form input[type="submit"] {
  background-color: #5dd;
  cursor: pointer;
  border-bottom: none;
}

.formConteiner .form input[type="submit"]:hover {
  background-color: #43a3a3;
}

.formConteiner .form__input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-bottom: 3px solid #56d6d6;
  background: transparent;
  color: #000;
}

.formConteiner .form__input:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#5a8fb3));
  background: linear-gradient(to bottom, transparent, #5a8fb3);
  outline: none;
  border-bottom: 3px solid #00ffff;
}

.formConteiner textarea {
  height: 120px;
  resize: none;
}

.formConteiner .form-img {
  padding: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.formConteiner .form-img img {
  width: 500px;
  border-radius: 3rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* index responsive */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-brand img {
    width: 14%;
  }
  .cont-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bgimg h1 {
    font-size: 2rem;
  }
  @-webkit-keyframes despY {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(180px);
              transform: translateY(180px);
    }
  }
  @keyframes despY {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(180px);
              transform: translateY(180px);
    }
  }
  .bgimg p {
    width: 180px;
    font-size: 14px;
    top: 180px;
  }
  .space, .sobremi {
    height: 50px;
  }
  .sobremi h2 {
    font-size: 1.5rem;
    padding: .6rem;
  }
  footer p {
    font-size: 1rem;
    padding: 1rem;
  }
  footer i {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .navbar-brand img {
    width: 14%;
  }
  .cont-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bgimg h1 {
    font-size: 2rem;
  }
  .bgimg p {
    font-size: 1rem;
    width: 300px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .navbar-brand img {
    width: 14%;
  }
  .cont-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* quien soy responsive */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .grid {
    height: 70vh;
  }
  .grid::before {
    grid-column: 1/-1;
    background-position: center;
  }
  .grid__title {
    font-size: 2rem;
  }
  .grid__p {
    font-size: 12px;
  }
  .seccion-est {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }
  .seccion-est .seccion-est__cron {
    height: 150px;
  }
  .seccion-est .seccion-est__cron h3 {
    padding: 10px;
    font-size: 1.3rem;
  }
  .seccion-est .seccion-est__cron p {
    padding: 5px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .grid::before {
    grid-column: 1/-1;
    background-position: center;
  }
  .grid__title {
    font-size: 2rem;
  }
  .grid__p {
    font-size: 1rem;
  }
  .seccion-est {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }
  .seccion-est .seccion-est__cron {
    height: 150px;
    width: 420px;
  }
  .seccion-est .seccion-est__cron h3 {
    padding: 2px 10px;
    font-size: 1.5rem;
  }
  .seccion-est .seccion-est__cron p {
    padding: 0 5px;
    font-size: 14px;
  }
}

/* servicios responsive */
@media only screen and (min-width: 320px) and (max-width: 719px) {
  .seccionS__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccionS__image img {
    height: 200px;
    width: 200px;
  }
}

/* contacto responsive */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .formConteiner {
    height: 500px;
  }
  .formConteiner .form {
    padding: 0;
  }
  .formConteiner .form .form__section {
    width: 50%;
    margin: 8px auto;
  }
  .formConteiner .form .form__section .form__input {
    height: 40px;
  }
  .formConteiner .form .enviar {
    width: 100px;
    margin: 0  auto;
  }
  .formConteiner .form-img img {
    width: 200px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .formConteiner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .formConteiner .form {
    padding: 0;
  }
  .formConteiner .form .form__section {
    width: 70%;
    margin: 8px auto;
  }
  .formConteiner .form .form__section .form__input {
    margin: auto;
  }
  .formConteiner .form .enviar {
    width: 205px;
    margin: 0  auto;
  }
  .formConteiner .form-img img {
    width: 230px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .formConteiner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .formConteiner .form-img img {
    width: 350px;
  }
}
/*# sourceMappingURL=estilo.css.map */