// variables 
$color-body:#ffffff;


html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-body;  
}
/* nav */
@import "_nav";
/* seccion */
.space{
    width: 100%;
    height: 100px;
    background-color: rgb(15, 16, 31);
}
.sobremi{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.932);
    h2{
        color: #888888;
        padding: 1.6rem;
    }
}
.bgimg{
    background-image: url(img/bgimg.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0px 30px 5px rgba(138, 135, 135, 1);
    h1{
        font-size: 2.3rem;
        color: rgb(80, 80, 155);
        padding: 0 1rem;
        animation: despY 1s ease forwards;
        span{
            color: rgb(47, 47, 163);
        }
        @keyframes despY{
            from{
                transform: translateY(0);
                opacity: 0;
            }
            to{
                transform: translateY(230px);
            }
        }
    }
        p{
            font-size: 1.3rem;
            width: 500px;
            position: relative;
            top: 230px;
            animation: despX 1.5s .5s ease forwards;
            opacity: 0;
            @keyframes despX{
                from{
                    transform: translateX(0);
                }
                to{
                    transform: translateX(20px);
                    opacity: 1;
                }
            }
        }
}
@import "_footer";

/* quien soy html */
/* seccion */
.grid{
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    box-shadow: 0 0px 30px -5px rgba(138, 135, 135, 1);
    border-bottom: solid .7px #d4cece;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
}
.grid__text{
    grid-row: 2/-2;
    grid-column: 2/6;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    animation: show 2s 1.3s ease forwards;
    @keyframes show{
        to{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }  
}
.grid::before{
    content: ""; 
    grid-column: 4/-1;
    grid-row: 1/-1;
    background-image: url(img/doctor.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: show 2s ease forwards; 
} 
.grid__title{
    font-size: 5rem;
    color: #05F2DB;
}
.seccion-est{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DADDE2;
    box-shadow: 0 0 30px -10px rgb(73, 70, 70);
    .seccion-est__cron{
        width: 300px;
        height: 300px;
        background-color: #ffffff;
        margin: 1rem;
        border-radius: 1rem;
        border: 1px solid #A3A6AB;
        h3{
            padding: 1rem;
        }
        p{
            padding: .7rem;
        }
    }
}

/* servicios html */
/* seccion */
.seccionS{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 30px -5px rgba(138, 135, 135, 1);
}
.seccionS__image{ 
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: solid .5px rgb(221, 221, 221);
    img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px black;
    }
    p{
        padding: 1rem;
        text-align: justify;
    }
}
.reverse{
    flex-direction: row-reverse;
}

/* contacto html */
/* formulario */
.formConteiner{
    height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 30px -5px rgba(138, 135, 135, 1);
    .form{
        width: 400px; 
        padding: 30px;
        order: 5;
        input[type="submit"] {
            background-color: #5dd;
            cursor: pointer;
            border-bottom: none;
        }
        input[type="submit"]:hover{
            background-color: #43a3a3;
        }
    }
    .form__input{
        width: 100%;
        padding: 8px;
        margin: 8px 0;
        border: none;
        border-bottom: 3px solid #56d6d6;
        background: transparent;
        color: #000;
    }
    .form__input:focus{
        background: linear-gradient(to bottom, transparent, #5a8fb3);
        outline: none;
        border-bottom: 3px solid #00ffff;
    }
    textarea{
        height: 120px;
        resize: none;
    }
    .form-img{
        padding: 10px;
        order: 2;
        img{
            width: 500px;
            border-radius: 3rem;
        }
    }
}
// navbar
@media only screen and (min-width:320px) and (max-width:768px) {
    .navbar-nav{
        align-items: center;
    }
}

/* index responsive */
@media only screen and (min-width:320px) and (max-width:480px) {
    .navbar-brand img{
        width: 14%;
    }
    .cont-flex{
        display: flex;
        justify-content: space-between;
    }
    .bgimg h1{
        font-size: 2rem;
        @keyframes despY{
            from{
                transform: translateY(0);
                opacity: 0;
            }
            to{
                transform: translateY(180px);
            }
        }
    }
    .bgimg p{
        width: 180px;
        font-size: 14px;
        top: 180px;
    }
    .space , .sobremi{
        height: 50px;
    }
    .sobremi h2{
        font-size: 1.5rem;
        padding: .6rem;
    }
    footer{
        p{
        font-size: 1rem;
        padding: 1rem;
        }
        i{
            font-size: 1.5rem;
        }
    }
} 
@media only screen and (min-width:480px) and (max-width:599px) {
    .navbar-brand img{
        width: 14%;
    }
    .cont-flex{
        display: flex;
        justify-content: space-between;
    }
    .bgimg h1{
        font-size: 2rem;
    }
    .bgimg p{
        font-size: 1rem;
        width: 300px;
    }
}
@media only screen and (min-width:600px) and (max-width:899px) {
    .navbar-brand img{
        width: 14%;
    }
    .cont-flex{
        display: flex;
        justify-content: space-between;
    }
}

/* quien soy responsive */
@media only screen and (min-width:320px) and (max-width:479px) {
.grid{
    height: 70vh;
}
.grid::before{
    grid-column: 1/-1;
    background-position: center;
}
.grid__title{
    font-size: 2rem;
}
.grid__p{
    font-size: 12px;
}
.seccion-est{
    flex-direction: column;
    height: 600px;
    .seccion-est__cron{
        height: 150px;
        h3{
            padding: 10px;
            font-size: 1.3rem;
        }
        p{
            padding: 5px;
            font-size: 12px;
        }
    }
}
} 
@media only screen and (min-width:480px) and (max-width:767px) {
.grid::before{
    grid-column: 1/-1;
    background-position: center;
}
.grid__title{
    font-size: 2rem;
}
.grid__p{
    font-size: 1rem;
}
.seccion-est{
    flex-direction: column;
    height: 600px;
    .seccion-est__cron{
        height: 150px;
        width: 420px;
        h3{
            padding: 2px 10px;
            font-size: 1.5rem;
        }
        p{
            padding: 0 5px;
            font-size: 14px;
        }
    }
}
} 

/* servicios responsive */
@media only screen and (min-width:320px) and (max-width:719px) {
    .seccionS__image{
        flex-direction: column;
        img{
            height: 200px;
            width: 200px;
        }
    }
}

/* contacto responsive */
@media only screen and (min-width:320px) and (max-width:599px) {
.formConteiner{
    height: 500px;
    .form{
        padding: 0;
        .form__section{
            width: 50%;
            margin: 8px auto;
            .form__input{
                height: 40px;
            }
        }
        .enviar{
            width: 100px;
            margin: 0  auto;
        }
    }
    .form-img img{
        width: 200px;
    }
}
}
@media only screen and (min-width:600px) and (max-width:900px) {
.formConteiner{
    flex-wrap: nowrap;
    .form{
        padding: 0;
        .form__section{
            width: 70%;
            margin: 8px auto;
            .form__input{
                margin:  auto;
            }
        }
        .enviar{
            width: 205px;
            margin: 0  auto;
        }
    }
    .form-img img{
        width: 230px;
    }
}
}
@media only screen and (min-width:900px) and (max-width:1200px) {
.formConteiner{
    flex-wrap: nowrap;
    .form-img img{
        width: 350px;
    }
}
}